body {
	background-image: url(https://bamfstyle.files.wordpress.com/2013/10/tstone-vest3a.jpg); 
	background-size: cover;
	
	

	
	}


#party {
	color: white;
	font-size: 1.3em;
	margin-top: 200px;
	/*max-width: 100px;*/
	/*max-height: 34px;*/
}
.buttons {
	text-align: right;
	/*margin-top: 200px;*/
	/*margin-left: 450px;*/
	max-width: 400px;
	float: right;
}

.hand-label {
		text-align: center;
		font-size: 1.1em;
		margin-top: 2%;
		color: white;
		/*max-width: 270px;*/
}

.hand {
		font-size: 4em;
		font-weight: bolder;
		text-align: center;
		min-height: 260px;
}


