body {
	background-image: url(https://bamfstyle.files.wordpress.com/2013/10/tstone-vest3a.jpg); 
	background-size: cover;
	
	

	
	}


#bust {
	color: white;
	font-size: 2em;
}
.buttons {
	text-align: right;
	/*margin-top: 200px;*/
	/*margin-left: 450px;*/
}

.hand-label {
		text-align: center;
		font-size: 1.1em;
		margin-top: 2%;
		color: white;
}

.hand {
		font-size: 4em;
		font-weight: bolder;
		text-align: center;
		min-height: 260px;
}

